<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @movement.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @movement.description %>
</p>

<p>
  <strong>Issue date:</strong>
  <%= @movement.issue_date %>
</p>

<p>
  <strong>Net:</strong>
  <%= @movement.net %>
</p>

<p>
  <strong>Total iva:</strong>
  <%= @movement.total_iva %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @movement.amount %>
</p>
