<div class="block-center mt-4 wd-xl">
  <!-- START card-->
  <div class="card card-flat">
    <div class="card-header text-center bg-dark">
      <a href="#">
        <img class="block-center rounded" src="<%= image_path('angle/logo.png') %>" alt="Image"/>
      </a>
    </div>
    <div class="card-body">
      <p class="text-center py-2">SIGN IN TO CONTINUE.</p>
      <%= form_for(resource, as: resource_name, url: session_path(resource_name), class: "mb-3", id: "loginForm", novalidate: "novalidate") do |f| %>
        <div class="form-group">
          <div class="input-group with-focus">
            <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control border-right-0",
                              id: "exampleInputEmail1", type: "email", placeholder: "Enter email",
                              autocomplete: "off", required: true %>
            <div class="input-group-append">
                     <span class="input-group-text text-muted bg-transparent border-left-0">
                         <em class="fa fa-envelope"></em>
                     </span>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="input-group with-focus">
            <%= f.password_field :password, autocomplete: "current-password", class: "form-control border-right-0",
                id: "exampleInputPassword1", placeholder: "Password", required: true %>
            <div class="input-group-append">
                     <span class="input-group-text text-muted bg-transparent border-left-0">
                         <em class="fa fa-lock"></em>
                     </span>
            </div>
          </div>
        </div>
        <div class="clearfix">
          <div class="checkbox c-checkbox float-left mt-0">
            <label>
              <input type="checkbox" value="" name="remember"/>
              <span class="fa fa-check"></span>Remember Me</label>
          </div>
          <div class="float-right">
          <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
            <%= link_to "Forgot your password?", new_password_path(resource_name), class: "text-muted" %><br />
          <% end %>
          </div>
        </div>
        <%= f.submit "Log in", class: "btn btn-block btn-primary mt-3" %>
      <% end %>
      <p class="pt-3 text-center">Need to Signup?</p>
      <%= render "users/shared/links" %>
    </div>
  </div>
  <!-- END card-->
  <div class="p-3 text-center">
    <span class="mr-2">&copy;</span>
    <span>2021</span>
    <span class="mr-2">-</span>
    <span>DPAS IT</span>
    <br/>
    <span>Contable enterprise admin</span>
  </div>
</div>
